REGISTRY_URL="openlegacy" # Docker registry url
REGISTRY_USERNAME="" # Docker registry username
REGISTRY_PASSWORD="" # Docker registry password
K8S_DISTRIBUTION="k8s" # openshift/k8s
k8s_namespace="hub-enterprise" # Namespace where Hub Enterprise should be installed
SECRET_NAME="" # Secret name where SSL certificate is stored
OL_DB_HOST="hub-enterprise-postgres" # Postgres host (has to be accessible by pods)
OL_DB_NAME="postgres" # Postgres name
OL_DB_PORT="5432" # Postgres port
OL_DB_USER="postgres" # Postgres username
OL_DB_PASSWORD="" # Postgres password
KEYCLOAK_IMAGE="openlegacy/openlegacy-keycloak:26.2.1" # Name and tag of the Keycloak image
HUB_ENT_DB_MIGR_IMAGE="openlegacy/hub-enterprise-db-migration:2.8.0" # Name and tag of the Hub Enterprise DB migration image
HUB_ENT_IMAGE="openlegacy/hub-enterprise:2.8.0" # Name and tag of the Hub Enterprise image
OL_HUB_URL="https://hub-enterprise" # URL which will be used to access the OpenLegacy Hub Web UI
OL_KEYCLOAK_URL="https://hub-enterprise-keycloak" # URL which will be used to access the Keycloak Web UI
MONITORING="false" # true - if you want to install monitoring
LOKI_IMAGE="grafana/loki:2.7.1" # Name and tag of the Loki image
GRAFANA_IMAGE="grafana/grafana:9.3.1" # Name and tag of the Grafana image
PROMETHEUS_IMAGE="prom/prometheus:v2.40.6" # Name and tag of the Prometheus image
PUSHGATEWAY_IMAGE="prom/pushgateway:v1.5.1" # Name and tag of the Pushgateway  image
LOKI_URL="none" # URL which will be used to access the Loki Web UI
PUSHGATEWAY_URL="none" # URL which will be used to access the PushGateWay Web UI
GRAFANA_URL="none" # URL which will be used to access the Graphana Web UI
OL_SCREEN_PORT="" # port number to run the emulation from hub (default port is 1512)
