REGISTRY_URL="openlegacy" # Docker registry url
REGISTRY_USERNAME="" # Docker registry username
REGISTRY_PASSWORD="" # Docker registry password
k8s_namespace="hub-enterprise" # Namespace where Hub Enterprise should be installed
KEYCLOAK_IMAGE="openlegacy/openlegacy-keycloak:26.2.1" # Name and tag of the Keycloak image
HUB_ENT_DB_MIGR_IMAGE="openlegacy/hub-enterprise-db-migration:3.0.7" # Name and tag of the Hub Enterprise DB migration image
HUB_ENT_IMAGE="openlegacy/hub-enterprise:3.0.7" # Name and tag of the Hub Enterprise image
KEYCLOAK_CPU_LIMIT="1000m"
KEYCLOAK_MEMORY_LIMIT="1024Mi"
KEYCLOAK_CPU_REQUEST="500m"
KEYCLOAK_MEMORY_REQUEST="512Mi"
HUB_CPU_LIMIT="1000m"
HUB_MEMORY_LIMIT="1024Mi"
HUB_CPU_REQUEST="500m"
HUB_MEMORY_REQUEST="512Mi"
